.plan{
    overflow: hidden;
    tbody{
        transition: transform 500ms ease 500ms, opacity 500ms ease 500ms;
        &.hidden{
            transform: scale(.9);
            opacity: 0;
        }
    }
}

.row{
    display: flex;
}

.corridor{
    height: $seat-width;
}
