$seat-width: 2rem;
$accent-color: #444054;
$background-color: #2F243A;
$text-color: #BEBBBB;
$past-text-color: rgb(92, 92, 92);

$available-seat-color: #FAFF7F;
$booked-seat-color: $text-color;
$selected-seat-color: #34C8D5;
$disabled-seat-color: rgb(56, 56, 56);
$disabled-booked-seat-color: rgb(36, 36, 36);